In [ ]:
print('ola', 5) # se colocar ("ola" + 5) dá erro ele só le com a virgula

ola 5

In [ ]:
nome = input('qual seu nome?')
idade = input('qual sua idade?')
peso = input('qual seu peso?')
print (nome, idade, peso)

qual seu nome?maria
qual sua idade?ieie
qual seu peso?22
maria ieie 22

In [ ]:
nome = input('olá, digite seu nome')
print('olá,', format(nome) "" seja bem vindo(a)! ")

olá, maeia

In [ ]:
nome = input('digite seu nome:')
dia = input('digite o dia de nascimento: ')
mes = input('digite o mes de nascimento: ')
ano = input('digite o ano de nascimento: ')

print(nome," ", dia,"/", mes,"/", ano)

digite seu nome:maria
digite o dia de nascimento: 12
digite o mes de nascimento: 03
digite o ano de nascimento: 2222
maria   12 / 03 / 2222

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
int num1 = input('digite n1:')
int num2 = input('digite n2:')
int soma = num1 + num2
print( int 
      soma)

SyntaxError: ignored